.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  > h1 {
    margin-bottom: 5rem;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0.4rem 0;

      input {
        padding: 0.5rem;
        border: 1px solid var(--gray-900);
        border-radius: 10px;
        width: 250px;
        &:focus {
          outline: none;
        }
      }
    }

    .error {
      display: block;
      text-align: center;
      margin-top: 0.2rem;
      color: var(--red);
    }

    button {
      margin-top: 5rem;
      padding: 0.5rem 1rem;
      background-color: var(--green);
      border: 1px solid var(--green);
      border-radius: 5px;

      transition: all 0.3s;

      &:hover {
        color: var(--white);
      }
    }
  }
}
