.container {
  width: 90%;
  margin: 0 auto;

  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;

    justify-content: center;

    button {
      margin: 2rem 1rem;
    }
  }
}


