.container {
  width: 90%;
  margin: 0 auto;

  .cardsSection {
    width: 90%;
    margin: 0 auto;

    > h1 {
      font-size: 3rem;
      font-weight: 300;
      margin: 2rem 0 1rem;

      display: flex;
      justify-content: space-between;

      button {
        background-color: transparent;
        color: var(--white);
        border: none;
        font-size: 2.5rem;
        margin: 0 1rem;

        transition: all 0.2s ease;

        &:hover {
          opacity: (0.3);
        }
      }
    }

    .cardsContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      button {
        margin: 2rem 1rem;
      }

      form {
        color: var(--white);

        > button {
          color: var(--white);
        }
      }

      > span {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }

  .classesSection {
    width: 90%;
    margin: 0 auto;

    > h1 {
      font-size: 3rem;
      font-weight: 300;
      margin: 2rem 0 1rem;
    }

    .classesContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      button {
        margin: 2rem 1rem;
      }

      > span {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
}

.closeButton {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.3;
  border-radius: 0.4rem;

  transition: all 0.2s;

  &:hover {
    opacity: 1;
    background-color: transparent;
    border: 1px solid var(--red);
    color: var(--red);
  }
}
